@media only screen and (max-width: 1200px){
    header{
        height: 75vh;
    }   
}
@media only screen and (max-width: 1024px) {
    
    header{
        height: 70vh;
    }
    .row{
        margin: 0 auto;
    }
    
    html{
        font-size: 50%;
    }
    .hero-text-box{
        width: 90%;
    }
    .client-photo{
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review{
        width: 100%;
        float: none;
        text-align: center;
    }
    .contact-section form{
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width: 980px) {
    .row{
        width: 90%;
        margin: 0 auto;
    }
    html{
        font-size: 56.5%;
    }
    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    .box{
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    .mobile-menu span{
        display: block;
    }
    .main-nav{
        display: none;
    }
    header{
        height: 65vh;
    }
    .little-description{
        width: 100%;
        margin: 0 auto;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .box p{
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 480px){
    html{
        font-size: 40%;
    }
    header{
        height: 60vh;
    }
    h1{
        padding-top: 3rem;
    }
    .span_1_of_4{
        width: 100%;
    }
    .testimonial-section .col:nth-child(3),
    .testimonial-section .col:nth-child(4){
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 320px){
    header{
        height: 65vh;
    }
    html{
        font-size: 35%;
    }
    h1{
        margin-top: 6rem;
    }
    .box p{
        margin-top: 1.5rem;
    }
}